<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo postal:</strong>
  <%= @zip_code.codigo_postal %>
</p>

<%= link_to 'Edit', edit_zip_code_path(@zip_code) %> |
<%= link_to 'Back', zip_codes_path %>
