<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo proveedor:</strong>
  <%= @supplier_type.tipo_proveedor %>
</p>

<%= link_to 'Edit', edit_supplier_type_path(@supplier_type) %> |
<%= link_to 'Back', supplier_types_path %>
